.container_12{
	background: red;
	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: left;

}

nav{
	background: white;

}

nav li{	
	display: inline; 
	margin-left: auto; 
	margin-right: 0; 
	margin-top: 50px;
	width: 60%
}

nav li:hover {
    color: blue;
}

.primary{
	background: #e3e3e3;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: left;
	width: 100%;
}

header{
	background: white;

}

.main{
	margin: 30px 0;
}

h1{
	margin-top: 25px;
	font-size: 50px;
	text-shadow: 5px 1px 1px grey;
}
footer img{
	height: 200px
	width: 200px;
}

footer{
	background: grey;
	height: 200px;
	width: 100%;
	margin-bottom: 0;
}

.sec2{
	margin: 30px 0;
}
